<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %-5p%c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="logs/komootWebAutomation.log" />
        <param name="append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss,SSS} %-5p%c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="html" class="org.apache.log4j.FileAppender">
        <param name="file" value="target/report/logs.html" />
        <param name="append" value="false" />
        <layout class="org.apache.log4j.HTMLLayout">
            <param name="LocationInfo" value="true"/>
            <param name="title" value="Test Logs"/>
        </layout>
    </appender>

    <root>
        <priority value ="info" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
        <appender-ref ref="html" />
    </root>

</log4j:configuration>